#post #{body}
hr
each tag in tags
	p #{tag}
hr
#disqus_thread
script
	var disqus_shortname = 'billycravens';
	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
a.btn.primary(href='/') Back to posts